body{
    background-color: rgb(237, 230, 230);
    margin-bottom: 15px; 
}
.grid-container {
    display: grid;
    grid-template-columns:auto auto auto;
    padding: 10px;
    justify-content: center;

  }

  .grid-item {
    background-color: white;
    padding: 20px;
    grid-gap: 10px; 
    border: 1px solid whitesmoke;
    width: 300px;
    height: 80px;
  }

  h1{
     margin-left: 235px;
     margin-bottom: 15px;
  }

  h3{
    text-decoration: underline;
    margin-right: 15px;
    margin-top: auto;
   
  }
  .price{
    background-color: yellow;
    width: 100px;
    text-align: center;
    
  }

  .adress{
    opacity: 0.5;
    text-decoration: underline; 
  }
